.hearder {
  height: 100vh;
   margin-top: 7rem;; 
  overflow: hidden;
}
.header-container {
  
  text-align: center;
  height: 100%;
  position: relative;
  padding-top: 4rem;
}
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 2.3rem;
  bottom: 3rem;
}
.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.me {
  background:linear-gradient(var(--color-primary), transparent );
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: 50% ;
  transform:translateX(-50%);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 0.5rem 0.5rem 0.5rem;
}
.me >img{
  opacity: 0.8;
}
.scroll__down {
  position: absolute;
  right: 2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}


/* *********MADIA QUERIES (SMALL DEVICES)********* */
@media screen and (max-width: 600px) {
  
  .header {
    height: 68vhvh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
/* *********MADIA QUERIES (MEDIUM DEVICES)********* */
@media screen and (max-width: 1024px) {
  
  .header {
    height: 68vh;
  }
}
@media screen and (min-width: 1024px) {
  
  .header {
    height: 80vh;
    margin-bottom: 2rem;
  }
  .me {
    background:linear-gradient(var(--color-primary), transparent );
    width: 30rem;
    height: 38rem;
    position: absolute;
    left: 50% ;
    transform:translateX(-50%);
    margin-top: 9rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 0.5rem 0.5rem 0.5rem;
  }
}
